<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
    <ul>
        <li ng-repeat="item in items">
            <!--<p ng-class="{'color-red':item.priority==='Important','color-yellow':item.priority==='Regular','color-green':item.priority==='Low'}">{{item.name +" "+item.time.toString()}}</p>-->
            <p nw-item item-value="item"></p>
        </li>
    </ul>

    <span>Item Name:</span><input type="text" ng-model="save.name"/>
    <span>Priority:</span><select ng-model="save.priority" >
        <option class="color-red" value="0">High</option>
        <option class="color-blue" value="1">Regular</option>
        <option class="color-green" value="2">Low</option>
    </select>
    <button ng-click="saveItem(save)">Save</button>
</body>
</html>